<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Auction Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
</head>
<body>
    <header>
        <h1>Welcome to the NFT Auction Site</h1>
    </header>
    <main>
        <button id='connectWallet' onclick="">Connect Wallet</button>
        <!-- <button id="mintNFTButton">Mint NFT</button> -->
        <button id="bidButton">Bid</button>
        <input type="number" id="offerValue" placeholder="Insert an offer">
        <button id="withdrawbidButton">Withdraw Bid</button>
        <button id="endauction">End Auction</button>

        <p id="walletAddress"></p>

        
        <p>highest bid</p>
        <!-- 
        <p>highest bidder</p>
        <p id="highestBidder"></p>
        -->
        <p id="highestBid"></p>
        <p id="highestBidder"></p>
        <p id="latestBid"></p>

       
        <section>
            <h2>Featured NFTs</h2>
            <!-- NFT items will be listed here -->
            <!-- <div class="nft-item">
                <img src="path_to_nft_image" alt="NFT Image">
                <h3>NFT Title</h3>
                <p>Description of the NFT.</p>
                <a href="#">Place a Bid</a>
            </div> -->
            <div id="nftDisplay">
                <h3 id="nftName"></h3>
                <img id="nftImage" src="" alt="NFT Image">
                <!-- Add other elements as needed -->
            </div>
            <!-- Repeat for other NFTs -->
        </section>
    </main>
    <script>
        let NFTcontract;
        let Auctioncontract;

        // Define the auction owner's address for comparison
        const auctionOwnerAddress = "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266".toLowerCase();

        window.addEventListener('load', async () => {
            // Initialize web3
            if (typeof web3 !== 'undefined') {
                window.web3 = new Web3(window.ethereum);
            } else {
                console.log('No web3? You should consider trying MetaMask!');
                window.web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
            }

            let NFTjsonData;
            try {
                let response = await fetch('{{ url_for("static", filename="ABI/mint_nft_abi.json") }}');
                NFTjsonData = await response.json(); // Await the JSON parsing
            } catch (e) {
                console.log(e.message);
                return; // Exit the function if an error occurs
            }
            let AuctionjsonData;
            try {
                let response = await fetch('{{ url_for("static", filename="ABI/auction_abi.json") }}');
                AuctionjsonData = await response.json(); // Await the JSON parsing
            } catch (e) {
                console.log(e.message);
                return; // Exit the function if an error occurs
            }
            const NFTcontractAddress = "0x5FbDB2315678afecb367f032d93F642f64180aa3";
            const AuctioncontractAddress = '0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0';
            NFTcontract = new web3.eth.Contract(NFTjsonData, NFTcontractAddress); // Use jsonData here
            Auctioncontract = new web3.eth.Contract(AuctionjsonData, AuctioncontractAddress); // Use jsonData here

            // Start the app
            // mintNFT();
            displayNFT(1);
            // displayhighestBid();
        });

        async function endAuction(){
            // Check if the user's wallet address is set
            console.log(window.userWalletAddress);
            0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266
            if (window.userWalletAddress == "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266".toLowerCase()) {
                
                Auctioncontract.methods.finalizeAuction().send({from:window.userWalletAddress})
                    .on('receipt', async (receipt) => {
                        console.log('Auction Bid. Transaction Receipt:', receipt);
                        displayhighestBid();
                    })
                    .on('error', error => {
                        console.error('Error bidding the auction:', error);
                    });
            }
            else{
                console.log("only the creator can end the auction")
            };
        }
        async function displayhighestBid(){
            
            var hbid = await Auctioncontract.methods.highestBid().call();
            highestBid.innerText = await web3.utils.fromWei(hbid, "ether");
            var hbidder = await Auctioncontract.methods.highestBidder().call();
            console.log(hbidder);
            console.log(window.userWalletAddress);
            if (hbidder.toLowerCase() == window.userWalletAddress.toLowerCase()){
                highestBidder.innerText = "you are winning the auction";

            }
            Auctioncontract.getPastEvents("BidPlaced",{
                filter: {bidder : window.userWalletAddress},
                fromBlock:"earliest",
                toBlock:"latest"
            }, function(error, events){ console.log("errore"); })
            .then(function(events){
                console.log(events);
                if(events.length !=0){
                    latestBid.innerText= "you bid for a total of "+web3.utils.fromWei(events[events.length -1].returnValues.bidAmount,"ether")+ " ethers";

                }else{
                    latestBid.innerText = "you have not yet bid an offer"
                }
                // console.log(mylatestbid) // same results as the optional callback above
                // console.log(web3.utils.fromWei(mylatestbid,"ether"))
            });
        };
        //bids for the auction
        async function bid(){
            // Check if the user's wallet address is set
            if (!window.userWalletAddress) {
                return errorMetamask();
            }
            var offert = document.getElementById("offerValue").value;

            console.log(offert)
            const bidValue = web3.utils.toWei(offert.toString(), 'ether');
            Auctioncontract.methods.placeBid().send({from: window.userWalletAddress, value: bidValue})
                .on('receipt', async (receipt) => {
                    console.log('Auction Bid. Transaction Receipt:', receipt);
                    displayhighestBid();
                })
                .on('error', async(error) => {
                    console.log("errore");
                    console.error('Error bidding the auction:', error);
                })
        }
        //refounds previously bidded eths
        async function withdrawBid(){
            // Check if the user's wallet address is set
            if (!window.userWalletAddress) {
                return errorMetamask();
            }
            Auctioncontract.methods.withdrawBid().send({from:window.userWalletAddress})
                .on('receipt', async (receipt) => {
                    console.log('Auction Bid. Transaction Receipt:', receipt);
                    displayhighestBid();
                })
                .on('error', error => {
                    console.error('Error bidding the auction:', error);
                });
        }

        async function displayNFT(tokenId) {
            console.log("Token ID:",tokenId)
            const tokenURI = await NFTcontract.methods.tokenURI(tokenId).call();
            console.log("Token URI:",tokenURI);
            const ipfsHash = tokenURI.replace('https://silver-traditional-marmoset-57.mypinata.cloud/ipfs/', '');
            // console.log(ipfsHash)
            const metadataUrl = `https://silver-traditional-marmoset-57.mypinata.cloud/ipfs/${ipfsHash}`;

            const metadataResponse = await fetch(metadataUrl);
            const metadata = await metadataResponse.json();
            // console.log(metadata.image.replace('ipfs://', ''))

            const imageUrl = `https://silver-traditional-marmoset-57.mypinata.cloud/ipfs/${metadata.image.replace('ipfs://', '')}`;

            // Now use imageUrl and other metadata to display your NFT
            document.getElementById('nftImage').src = imageUrl;
            document.getElementById('nftName').textContent = metadata.name;
            // ... handle other metadata ...
        }
    
        async function startApp() {
            const address = "0x8626f6940E2eb28930eFb4CeF49B2d1F2C9C1199";
            try {
                const wei = await window.web3.eth.getBalance(address);
                const balance = window.web3.utils.fromWei(wei, 'ether');
                console.log(balance); // Output the balance
            } catch (err) {
                console.error(err); // Handle the error
            }
        }

        //METAMASK
        window.userWalletAddress = null
        const connectWallet = document.getElementById('connectWallet')
        const walletAddress = document.getElementById('walletAddress')
        const walletBalance = document.getElementById('walletBalance')
        

        // document.getElementById('mintNFTButton').addEventListener('click', mintNFT);
        document.getElementById('bidButton').addEventListener('click', bid);
        document.getElementById('withdrawbidButton').addEventListener('click', withdrawBid);
        document.getElementById('endauction').addEventListener('click', endAuction);


        function errorMetamask(){
            console.log('No connected MetaMask account');
            const popup = document.createElement('div');
            popup.style.position = 'fixed';
            popup.style.bottom = '0';
            popup.style.left = '0';
            popup.style.width = '100%';
            popup.style.backgroundColor = 'red';
            popup.style.color = 'white';
            popup.style.padding = '10px';
            popup.style.textAlign = 'center';
            if (typeof window.ethereum == 'undefined') {
                popup.textContent = 'MetaMask isn\'t installed, please install it';
            }else{
                popup.textContent = 'Connect MetaMask Wallet';
            }

            // Aggiunta del popup al documento
            document.body.appendChild(popup);
            setTimeout(function() {
                popup.remove();
            }, 2000);
            return;
        }

        function checkInstalled() {
            if (typeof window.ethereum == 'undefined') {
            // connectWallet.innerText = 'MetaMask isnt installed, please install it'
                connectWallet.classList.remove()
                connectWallet.classList.add()
                connectWallet.addEventListener('click', errorMetamask)
                return false
            }
            connectWallet.addEventListener('click', connectWalletwithMetaMask)
        }

        async function adjustUIForUserRole() {
            const isOwner = window.userWalletAddress === auctionOwnerAddress;
            // Adjust UI elements based on the user role
            document.getElementById('endauction').style.display = isOwner ? 'block' : 'none';
            document.getElementById('withdrawbidButton').style.display = isOwner ? 'none' : 'block';

            // Add or modify other elements as needed for owner
            // For participants, you can either hide or show elements, or modify text/content
        }

        async function connectWalletwithMetaMask() {
            const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
            .catch((e) => {
            console.error(e.message)
            return
            })

            if (!accounts) { return }

            window.userWalletAddress = accounts[0]
            //walletAddress.innerText = window.userWalletAddress

            connectWallet.innerText = 'Sign Out'
            connectWallet.removeEventListener('click', connectWalletwithMetaMask)
            setTimeout(() => {
            connectWallet.addEventListener('click', signOutOfMetaMask)
            }, 200)

            adjustUIForUserRole();
            displayhighestBid();

        }


        function signOutOfMetaMask() {
            window.userwalletAddress = null
            walletAddress.innerText = ''
            connectWallet.innerText = 'Connect Wallet'

            document.getElementById('endauction').style.display = 'none'; // Hide auction end button by default

            connectWallet.removeEventListener('click', signOutOfMetaMask)
            setTimeout(() => {
            connectWallet.addEventListener('click', connectWalletwithMetaMask)
            }, 200  )
        }

        async function checkBalance() {
            let balance = await window.ethereum.request({ method: "eth_getBalance",
                    params: [
                        window.userWalletAddress,
                        'latest'
                        ]
                    }).catch((err)=> {
                        console.log(err)
                })

            console.log(parseFloat((balance) / Math.pow(10,18)))

            walletBalance.innerText = parseFloat((balance) / Math.pow(10,18))
        }

        window.addEventListener('DOMContentLoaded', () => {
            checkInstalled()

            document.getElementById('endauction').style.display = 'none'; // Hide end auction button by default
        })
        //END METAMASK
    </script>
</body>
</html>
